.wrapper--code {
    background-color: $purple;
    height: 100vh;
    overflow: hidden;
    color: $white;
    display: grid;
    align-items: center;
    justify-content: center;
}

.code {
    h1 {
        font-size: 48px;
        font-weight: 900;
    }
    &__form {
        display: grid;
    }
    &__input {
        height: 44px;
        border: 2px solid $white;
        border-radius: 5px;
        margin: 0 0 16px 0;
        padding: 0 12px;
        font: $input-placeholder;
        color: $dark;
    }
    &__input:focus {
        border: 2px solid $green;
        outline: none;
        //box-sizing: border-box;
    }

    &__input::placeholder {
        color: $dark50;
    }
}
