@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<header class="folder-header">
    <div class="folder-header__container">
    <p class="folder-header__count">3 topics</p>
    <div class="folder-header__title">
    <h1 class="folder-header__name">Folder name</h1>
    <div class="folder-header__icons">
        <span class="icon-delete"></span>
        <span class="icon-createmode_editedit"></span>
    </div>
    </div>
    </div>
</header>
<div class="wrapper--folder folder-view wrapper--dashboard">

<div class="folder-views__topics">
     <ul class="grid">
                   
                        <li class="topic-component">
                            <div class="topic-component__div">
                                <p class="topic-component__number">30 questions</p>
                                <h6 class="topic-component__name">Topic name</h6>
                            </div>
                        </li>
                        <li class="topic-component">
                            <div class="topic-component__div">
                                <p class="topic-component__number">30 questions</p>
                                <h6 class="topic-component__name">Topic name</h6>
                            </div>
                        </li>
                        <li class="topic-component">
                            <div class="topic-component__div">
                                <p class="topic-component__number">30 questions</p>
                                <h6 class="topic-component__name">Topic name</h6>
                            </div>
                        </li>
                        <li class="topic-component">
                            <div class="topic-component__div">
                                <p class="topic-component__number">30 questions</p>
                                <h6 class="topic-component__name">Topic name</h6>
                            </div>
                        </li>
                        <li class="topic-component">
                            <div class="topic-component__div">
                                <p class="topic-component__number">30 questions</p>
                                <h6 class="topic-component__name">Topic name</h6>
                            </div>
                        </li>
                        <li class="topic-component">
                            <div class="topic-component__div">
                                <p class="topic-component__number">30 questions</p>
                                <h6 class="topic-component__name">Topic name</h6>
                            </div>
                        </li>
                    
    </ul>
</div>

</div>