.btn {
    height: 48px;
    border: none;
    border-radius: 5px;
    color: $white;
    font: $button-font;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include shadow;
    text-decoration: none;

    &--blue {
        background-color: $blue;
    }

    &--green {
        background-color: $green;
    }

    &--add {
        width: 185px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 1000px) {
    .btn {
        height: $base-spacing * 3;
    }
}
