@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<header class="topic-header">
    <div class="topic-header__container">
    <p class="topic-header__count">30 questions</p>
    <div class="topic-header__title">
    <h1 class="topic-header__name">Topic name</h1>
    <div class="topic-header__icons">
        <span class="icon-delete"></span>
        <span class="icon-createmode_editedit"></span>
        <span class="icon-content_copy"></span>
    </div>
    </div>
    </div>
</header>
<div class="wrapper--folder folder-view wrapper--dashboard">

<div class="folder-views__topics">
     <ul class="grid--questions">
                   
                        <li class="question">
                            <span class="question__number">1.</span>
                                <p class="question__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere dui non venenatis venenatis. Morbi nec urna eget purus convallis pharetra. Maecenas facilisis nisl id aliquet sagittis.</p>
                                <!-- <label class="question__label">Question</label> -->
                       
                        </li>
                         <li class="question">
                            <span class="question__number">2.</span>
                                <p class="question__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere dui non venenatis venenatis. Morbi nec urna eget purus convallis pharetra. Maecenas facilisis nisl id aliquet sagittis.</p>
                                <!-- <label class="question__label">Question</label> -->
                       
                        </li>
                         <li class="question">
                            <span class="question__number">3.</span>
                                <p class="question__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere dui non venenatis venenatis. Morbi nec urna eget purus convallis pharetra. Maecenas facilisis nisl id aliquet sagittis.</p>
                                <!-- <label class="question__label">Question</label> -->
                       
                        </li>
                    
    </ul>
</div>

</div>