
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Areas/Users/Views/Shared/_Layout.cshtml";
}

<h1>Start Index</h1>

<ul>
    <li>
        <a asp-area="User" asp-controller="SignIn" asp-action="Index">Log In</a>
    </li>
    <li>
        <a asp-area="User" asp-controller="Registration" asp-action="Index">Sign Up</a>
    </li>
    <li>
        <a asp-area="Player" asp-controller="EnterCode" asp-action="Index">Play game</a>
    </li>
</ul>

