


<h1>Start Index</h1>

<ul>
    <li>
        <a>Log In</a>
    </li>
    <li>
        <a>Sign Up</a>
    </li>
    <li>
        <a asp-area="Gameplay" asp-controller="EnterCode" asp-action="Index">Play game</a>
    </li>
</ul>







