



<section class="main">  
<section class="login">
     <h1 class="start__h1">Quiz & Swap</h1>
    <h2 class="login__heading">Log in</h2>
    <form class="login__form" action="" method="post">
  
    <!-- <label for="email"><b>Email</b></label> -->
    <input class="login__input login__input--email" type="text" placeholder="Enter Email" name="email" required>

    <!-- <label for="psw"><b>Password</b></label> -->
    <input class="login__input login__input--psw" type="password" placeholder="Enter Password" name="psw" required>

    <button class="btn btn--blue" type="submit">Log In</button>
  
<p class="login__text">Don't have an account? <a href="" class="login__text--link"> Sign up.</a></p>
</form>
<section class="game-cta">
    <p class="game-cta__text">Are you a student?</p>
    <a asp-area="Gameplay" asp-controller="EnterCode" asp-action="Index" class="game-cta__btn btn btn--green">Enter game code</a>
</section>

</section>
</section> 


<section class="illustrations">
<img class="illustrations__img--main" alt="illustration" src="/images/start-illustration.svg">
<!-- <img class="illustrations__img--blob1" alt="blob" src="/images/blob1.svg">
<img class="illustrations__img--blob2" alt="blob" src="/images/blob2.svg"> -->
</section>








