@model HomeViewModel


<div id="createFolder_div" style="display:none">
    <div asp-validation-summary="All"></div>
    <form class="" action="javascript:void(0);" onsubmit="createFolder()" method="post">
        <label class="" asp-for="FolderName">Folder Name</label>
        <input id="folderName_input" class="" asp-for="FolderName" type="text" />
        <p class="">Folder name must be unique</p>

        <button class="btn btn--blue" type="submit">Create folder</button>
    </form>

</div>


<script type="text/javascript">

    document.getElementById("btn_createFolderToggle").onclick = function toggleCreateFolderOverlay() {
        var x = document.getElementById("createFolder_div");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function createFolder() {
        const folderName_input = document.getElementById('folderName_input');

        const viewModelJS = @Model.FolderName;

        const uri = 'Dashboard/Home/CreateFolder';

        fetch(uri, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(viewModelJS)
        })
            .then(response => response.json())
            .then(() => {
                //successful shit here
                //refresh the page
                refreshPage();
            })
            .catch(error => console.error('Unable to add item.', error));
    }

    function refreshPage()
    {
        location.reload();
    }



</script>
