@model HomeViewModel

<h1>dashboard - home</h1>

@if (Model.Empty)
{
    <div>Nothing here</div>
}
else
{
    if (!Model.FoldersEmpty)
    {
        //Folders container
        <div>
            @foreach(HomeViewModel.Folder folder in Model.Folders)
            { 
                <div>
                    <li>Folder name</li>
                </div>
            }
        </div>
    }
    if (!Model.TopicsEmpty) 
    {
        <div>The Topics container</div>
    }
}

