@model EnterGame
<div class="wrapper--code">
    <div>
        <h1>Quiz & Swap</h1>
        <section class="code" data-login>
            <h2>Join game</h2>
            <p data-notification></p>
            <form class="code__form">
                <input class="code__input" placeholder="Your name" name="name"/>
                <input class="code__input" placeholder="Game Code" name="code"/>
                <button class="btn btn--green" type="submit">Enter Game Code</button>
            </form>
        </section>
    
        <section data-wait>
                <h2>waiting pool</h2>
    
        </section>
        
        <section data-play>
                <h2>the game</h2>
    
        </section>
    </div>
</div>