<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <title>Dashboard - Quiz & Swap</title>

        <link href="https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/app.css" />
    </head>


    <body class="body--grey">
        <nav class="nav">
        <div class="nav__section nav__section1">
            <a asp-area="Dashboard" asp-controller="Home" asp-action="Index" class="nav__logo"><h1>Quiz & Swap</h1></a>
        
        <a asp-area="Dashboard" asp-controller="Topic" asp-action="Index" class="nav__button"> 
           <span class="icon-add"></span> 
            CREATE TOPIC
        </a>
        </div>
        <div class="nav__section nav__section2">
        <a asp-area="Dashboard" asp-controller="Profile" asp-action="Index" class="nav__settings">
            <span class="icon-settings"></span>
            Settings
        </a>
        <a asp-area="Dashboard" asp-controller="Home" asp-action="Signout" class="nav__logout">Log out</a>
        </div>
        </nav>
        
        @RenderBody()

        <script src="/assets/app.js"></script>
    </body>

</html>
