$body-text: 16px 'Muli', sans-serif;
$subtitle: 12px 'Muli', sans-serif;
$button-font: 700 14px 'Muli', sans-serif;
$input-placeholder: 14px 'Muli', sans-serif;

$purple: #3f2b96;
$green: #50b895;
$blue: #66a2f0;
$red: #f6736e;
$dark: #1f2041;
$dark75: #575870;
$dark50: #8f8fa0;
$dark25: #c7c7cf;
$dark5: #e9e9ec;
$white: #ffffff;
