body{
    margin:0;
    font: $body-text;
    color: $white;
    background-color: $purple;
    
}

.wrapper{
    margin: 0 24px;
    height:100vh;
    display: grid;
    align-items: center;
}

.start__h1{
    font-weight: 900;
    font-size: 48px;
    @include center;

}

.login{
    max-width: 500px;
    &__heading{
        display:none;
    }
    &__form{
        display: grid;   
    }
    &__input{
        height:48px;
        border:none;
        border-radius: 5px;
        margin: 0 0 16px 0;
        padding-left: 12px;
        font:$input-placeholder;
        color:$dark;
        &--psw{
            margin: 0 0 32px;
        }
    }


    &__input::placeholder{
        font: $input-placeholder;
        color: $dark50;
        

    }


    &__text{
        @include center;
        &--link{
            color:$white;
            font-weight: 700;
        }
    }
}

.game-cta {
    @include center;
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        text-decoration: none;

    }
}

.illustrations{
    display: none;
}

@media only screen and (min-width: 600px) {
   
    .login{
        max-width: 500px;
        margin: 0 auto;
        
        &__heading{
            display: block;
        }
        &__text--link{
            color:$dark75;
        }

        &__form{
            margin-bottom:48px;
        }
    
  }
}

  @media only screen and (min-width: 1000px) {
    .wrapper{
        display:grid;
        grid-template-columns: 50% 50%;
        margin: 0;
    }

    .start__h1{
       display:none;
    
    }
    
    .login{
        width: 360px;
        color: $dark75;
        &__input{
            border:1px solid $dark25;
            
    }
}
    .main{
        display: flex;
        height: 100vh;
        align-items: center;
        background-color: $white;
        margin:0;
        grid-column: 1/2;
    }

    .illustrations{
        height: 100vh;
        overflow: hidden;
        display: flex;
        &__img--main{
            margin: 0 auto;
            width:70%;
        }
    }
  }



