<p id="paragraphQuestionCount" class="topic-header__count"><span id="spanQuestionCountNum">@Model</span> <span id="spanQuestionCountText">@((Model > 1 || Model == 0) ? "questions" : "question")</span></p>



