<p class="topic-header__count"><span id="question_counter">@Model</span> @((Model > 1 || Model == 0) ? "questions" : "question")</p>


@*@topic.QuestionCardCount @((topic.QuestionCardCount > 1 || topic.QuestionCardCount == 0) ? "questions" : "question"*@
