@model TopicCreateViewModel.Wrapper.QuestionCard

<li class="question">
    <span class="question__number">@Model.ListingNumber.</span>
    <textarea data-autoresize class="question__textarea" maxlength="255"></textarea>
    <label class="question__label">Question</label>

</li>
