@model TopicCreateViewModel

<div><span asp-validation-for="HeaderContainer.TopicName"></span></div>
<textarea class="topic-header__textarea autoExpand" maxlength="255" placeholder="@Model.HeaderContainer.TopicNamePlaceholder" asp-for="HeaderContainer.TopicName" form="form"></textarea>
<label class="topic-header__label">Name</label>
