@model TopicCreateViewModel


<header class="topic-header topic-header--create">
    <div class="topic-header__container">
        @*Qs counter was here**@
        @await Html.PartialAsync("_QuestionsCounter", Model.QuestionsCounter)
        <div class="topic-header__title">
            @await  Html.PartialAsync("_Header", Model.HeaderText)
            @*edit icons place, not needed here*@
            @*Finalize button will read "Create" in this view*@
            @await  Html.PartialAsync("_FinalizeButton", Model.FinalizeButtonText)
        </div>
            @*topic name area*@
        @await Html.PartialAsync("_TopicName",Model.TopicNamePlaceholder)
    </div>
</header>
<div class="wrapper--create wrapper--dashboard">

    <div class="">
        <ul class="grid--questions">
            @*foreach here *@
            @for(int i =1; i <= Model.InitialCountQuestionCards; i++)
            {
                TopicCreateViewModel.QuestionCard qcard =
                    new TopicCreateViewModel.QuestionCard()
                    {
                        ListingNumber = i
                    };
                @await Html.PartialAsync("_QuestionCard", qcard)
            }
            @await Html.PartialAsync("_AddQuestionButton")
        </ul>
    </div>

</div>
